html, body {
    background-color: skyblue;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 200px;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 40px;
}

.animal__icon{
    display: flex;
}

.animal__icon-item{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

.full-height1 {
    height: 200px;
}

.flex-center1 {
    display: flex;
    justify-content: center;
}

.flex-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: none;
    width: 100%;
    margin-right: 20px;

}

.content1 {
    text-align: center;
}

.title1 {
    font-size: 64px;
}

.links1 > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md1 {
    margin-bottom: 30px;
}

.mammals__box{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.mammals-img{
    width: 100%;
    height: 360px;
}

.mammal-classes{
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.card{
    position: relative;
}

.mammal-classes > p{
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.information{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.cube-edit{
    text-align: right;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.db_links{
    color: blue;
    font-size: 18px;
    border: 1px solid blue;
    background-color: transparent;
    padding: 3px; 
}

.db_links_red{
    font-size: 18px;
    color: red;
    border: 1px solid red;
    background-color: transparent;
    padding: 3px;
    margin-left: 20px; 
}

/*addform style*/
.form-row{
    display: flex;
    width: 500px;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.form-label{
    width: 30%; 
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.form-input{
    width: 69%;
    height: 30px;
    border: 1px solid springgreen;
    border-radius: 5px;
}

.form-input:hover{
    border-color: blue;
}

.form-button{
    border: 1px solid springgreen;
    width: 200px;
    height: 40px;
    top: 20px;
    position: absolute;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(0, 128, 49);
}

.form-button:hover{
    background-color: rgb(62, 128, 0);
    cursor: pointer;
}

.form-button-back{
    position: absolute;
    right: 0;
    background-color:blue;
}

.form-button-back:hover{
    background-color:darkblue;
    cursor: pointer;
}

.form-button-back a{
    color: white;
}