html, body {
    background-color: skyblue;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 200px;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 40px;
}

.animal__icon{
    display: flex;
}

.animal__icon-item{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

.full-height1 {
    height: 200px;
}

.flex-center1 {
    display: flex;
    justify-content: center;
}

.flex-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: none;
    width: 100%;
    margin-right: 20px;

}

.content1 {
    text-align: center;
}

.title1 {
    font-size: 64px;
}

.links1 > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md1 {
    margin-bottom: 30px;
}

.mammals__box{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.mammals-img{
    width: 100%;
    height: 360px;
}

.mammal-classes{
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.card{
    position: relative;
}

.mammal-classes > p{
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
}


